### Q1. What is a database? Differentiate between SQL and NoSQL databases.

#### Ans:
A database is a structured collection of data that is organized, stored, and managed for easy access and retrieval.
SQL databases are based on the relational model, where data is organized into tables with rows and columns, and relationships between tables are established using keys whereaas NoSQL databases depart from the rigid structure of relational databases and offer more flexible data models. They are designed to handle various types of data, including unstructured, semi-structured, and structured data.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#### Ans:
DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define, modify, and manage the structure of a database and its objects. DDL statements are used to create, alter, and delete database objects such as tables, indexes, views, and schemas.

The CREATE statement is used to create new database objects such as tables, indexes, and views.

The DROP statement is used to delete existing database objects. It permanently removes the object and all associated data.

The ALTER statement is used to modify the structure of an existing database object, such as adding or dropping columns, modifying column data types, or renaming objects.

The TRUNCATE statement is used to remove all data from a table while keeping the table structure intact. Unlike the DELETE statement, TRUNCATE is more efficient because it doesn't log individual row deletions.
#### Example:

In [1]:
import sqlite3

# Connect to the database (create a new one if it doesn't exist)
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# CREATE TABLE
create_table_query = '''
CREATE TABLE IF NOT EXISTS Employees (
    EmployeeID INTEGER PRIMARY KEY,
    FirstName TEXT,
    LastName TEXT,
    Department TEXT
);
'''
cursor.execute(create_table_query)

# DROP TABLE
drop_table_query = '''
DROP TABLE IF EXISTS Customers;
'''
cursor.execute(drop_table_query)

# ALTER TABLE (Add a new column)
alter_table_query = '''
ALTER TABLE Employees
ADD COLUMN Email TEXT;
'''
cursor.execute(alter_table_query)

# TRUNCATE TABLE (Delete all rows)
truncate_table_query = '''
DELETE FROM Employees;
'''
cursor.execute(truncate_table_query)

# Commit the changes and close the connection
conn.commit()
conn.close()

OperationalError: duplicate column name: Email

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#### Ans:
DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate and interact with the data stored within a database. DML statements are used to insert, update, and delete data from database tables.

The INSERT statement is used to add new rows of data into a table. It specifies the table name and the values to be inserted into each column.

The UPDATE statement is used to modify existing data in a table. It specifies the table name, the columns to be updated, and the new values.

The DELETE statement is used to remove rows from a table based on specified conditions. It deletes the data from the table, but the table structure remains unchanged.
#### Example:

In [2]:
import sqlite3

# Connect to the database (create a new one if it doesn't exist)
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# CREATE TABLE (if it doesn't already exist)
create_table_query = '''
CREATE TABLE IF NOT EXISTS Users (
    UserID INTEGER PRIMARY KEY,
    FirstName TEXT,
    LastName TEXT,
    Age INTEGER
);
'''
cursor.execute(create_table_query)
conn.commit()

# INSERT data
insert_query = '''
INSERT INTO Users (FirstName, LastName, Age)
VALUES (?, ?, ?);
'''
user_data = ('John', 'Doe', 30)
cursor.execute(insert_query, user_data)
conn.commit()

# UPDATE data
update_query = '''
UPDATE Users
SET Age = ?
WHERE UserID = ?;
'''
new_age = 31
user_id = 1
cursor.execute(update_query, (new_age, user_id))
conn.commit()

# DELETE data
delete_query = '''
DELETE FROM Users
WHERE UserID = ?;
'''
cursor.execute(delete_query, (user_id,))
conn.commit()

# Close the connection
conn.close()

### Q4. What is DQL? Explain SELECT with an example.

#### Ans:
DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database.

The SELECT statement is used to retrieve data from a database table. It allows you to specify the columns you want to retrieve, the table you're querying, and optional conditions to filter the results.

In [2]:
import sqlite3

# Connect to the database (assuming it already exists)
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# SELECT data
select_query = '''
SELECT FirstName, LastName, Department
FROM Employees
WHERE Department = 'Sales';
'''
cursor.execute(select_query)

# Fetch and print the results
results = cursor.fetchall()
for row in results:
    print("First Name:", row[0])
    print("Last Name:", row[1])
    print("Department:", row[2])
    print("------------")

# Close the connection
conn.close()

### Q5. Explain Primary Key and Foreign Key.

#### Ans:
##### Primary Key
A primary key is a field (or combination of fields) in a database table that uniquely identifies each row or record in that table. It serves as a unique identifier for the data in the table, ensuring that no two rows have the same primary key value. Primary keys play a crucial role in maintaining data integrity and establishing relationships between tables.
##### Foreign Key
A foreign key is a field in one database table that refers to the primary key in another table. It establishes a link or relationship between two tables by referencing the primary key of another table. This relationship is used to enforce referential integrity, ensuring that data remains consistent across related tables.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

#### Ans:
##### Cursor:
A cursor is an object that enables you to interact with the database. It allows you to execute SQL queries and fetch the results. We can create a cursor using the cursor() method on the database connection object.
##### Execute:
The execute() method of the cursor object is used to execute SQL queries.

In [5]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test3")
mydb.close()

ModuleNotFoundError: No module named 'mysql'

### Q7. Give the order of execution of SQL clauses in an SQL query.

#### Ans:
In a typical SQL query, the order of execution of SQL clauses follows a specific sequence. 
Here's the typical order of execution for the main clauses in an SQL query:

1. **SELECT:** This clause specifies which columns you want to retrieve from the database.

2. **FROM:** This clause specifies the table or tables from which you want to retrieve data.

3. **JOIN:** If you're using JOIN operations to combine data from multiple tables, these are executed after the FROM clause. The JOIN operations determine how the tables are related.

4. **WHERE:** The WHERE clause filters the rows based on specified conditions. It restricts the results to only those that meet the given criteria.

5. **GROUP BY:** If you're using grouping for aggregate functions like COUNT, SUM, AVG, etc., the GROUP BY clause is executed next. It groups rows based on specified columns.

6. **HAVING:** The HAVING clause filters the grouped results based on specified conditions. It works similarly to the WHERE clause but is applied after grouping.

7. **ORDER BY:** The ORDER BY clause sorts the final result set based on specified columns and sorting directions (ASC or DESC).

8. **LIMIT/OFFSET:** If you're using these clauses to limit the number of rows returned or skip a certain number of rows, they are applied last.

It's important to note that not all SQL queries will include every clause listed above. The order of clauses can vary based on the specific requirements of your query. The clauses that are not used in a particular query are simply skipped during execution.